
@{
    ViewBag.Title = "Main";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP MAIN PAGE</title>
    <link href="https://fonts.googleapis.com/css?family=Galada|Oswald" rel="stylesheet">
    <link href="~/AdminLte/dist/css/ERPMAINCSS.css" rel="stylesheet" />
    <!-- Optional theme -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- partial:index.partial.html -->
    <!-- Inspired by https://bert.house/en/-->
    <div class="center">

        <h1 style=" line-height: .95;
  color: rgba(0, 0, 0, 0.932);
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;">
            ENTERPRISE RESOURCE PLANNING SYSTEM
        </h1>


        <br />
        <br />
        <div class="row">
            <div class="card-footer">
                <button type="submit" id="btnSubmit" class="btn btn-outline-primary" style="background-color: rgba(0, 0, 0, 0.795);">
                    <a style="color: rgb(255, 255, 255); border-radius: 0%; line-height: .90;  font-weight: 50;
      font-size: 18px;" href="http://58.65.197.153:811/">BA ERP</a>
                </button>
                <button type="submit" id="btnSubmit" class="btn btn-outline-primary" style="background-color: rgba(0, 0, 0, 0.795);">
                    <a style="color: rgb(255, 255, 255);  line-height: .90;  font-weight: 50;
          font-size: 18px;" href="http://58.65.197.153:810/">WORK SHOP</a>
                </button>
                <button type="submit" id="btnSubmit" class="btn btn-outline-primary" style="background-color: rgba(0, 0, 0, 0.795);">
                    <a style="color: rgb(255, 255, 255);  line-height: .90;  font-weight: 50;
              font-size: 18px;" href="http://192.168.2.195:74/">Accounts</a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>


