<fieldset class="animate px-3" data-fieldset="4">
    <div class="d-block py-2">
        <div class="d-block mb-3 border bg-light">
            <table class="table table-sm table-borderless text-left mb-0">
                <tr>
                    <th>Customer Name</th>
                    <td colspan="3">Pak Pacific Container Terminal (Pvt.) Ltd.</td>
                </tr>
                <tr>
                    <th>BL/CRO No:</th>
                    <td colspan="3">TESTBYZAINBL</td>
                </tr>
                <tr>
                    <th>Order No:</th>
                    <td colspan="3">000180</td>
                </tr>
                <tr>
                    <th>OrderType:</th>
                    <td>Import</td>
                    <th>Invoice No:</th>
                    <td>000143</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>Pending</td>
                    <th>Invoice Date:</th>
                    <td>1/1/2022 12:00:00 AM</td>
                </tr>
            </table>
        </div>
        <table class="table table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="text-left">Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left">LOLO Charges LADEN</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-left">LOLO Charges LADEN</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td class="text-left">LOLO Charges EMPTY</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td class="text-left">WEIGHTMENT Charges 20 FT Containers</td>
                    <td>2.00</td>
                    <td>0</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td class="text-left">WEIGHTMENT Charges 40 FT Containers</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <td>3000.00</td>
                </tr>
            </tfoot>
        </table>

        <div class="d-block">
            <div class="d-block bg-lighter  border p-2 mb-3">
                <h5 class="text-left mb-0">Beneficiary Detail</h5>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-sm table-bordered text-left">
                        <tbody>
                            <tr>
                                <th>Bank Name</th>
                                <td>BANK AL HABIB LTD</td>
                            </tr>
                            <tr>
                                <th>Account Title</th>
                                <td>BILAL ASSOCIATES</td>
                            </tr>
                            <tr>
                                <th>Account Number</th>
                                <td>1045-0981-009204-01-6</td>
                            </tr>
                            <tr>
                                <th>Branch Code</th>
                                <td>1045</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-sm table-bordered text-left">
                        <tbody>
                            <tr>
                                <th>Bank Name</th>
                                <td>DUBAI ISLAMIC BANK</td>
                            </tr>
                            <tr>
                                <th>Account Title</th>
                                <td>BILAL ASSOCIATES</td>
                            </tr>
                            <tr>
                                <th>Account Number</th>
                                <td>0569559001</td>
                            </tr>
                            <tr>
                                <th>Branch Code</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-12 text-left mt-5">
                <div class="d-flex justify-content-between px-3">
                    <button type="button" class="btn w-25 btn-dark btn-v2 btn-back"><i class="fas fa-angle-double-left" onclick="loadPartial('Logistics')"></i> Back</button>
                    <button type="button" class="btn w-25 btn-primary btn-v2 btn-next">PROCEED <i class="fas fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script src="@Fingerprint.Tag("/AdminLte/Scripts/OrderBookings/Invoice.js")"></script>

