<fieldset class="animate px-3" data-fieldset="5">
    <div class="d-block py-2">

        <div class="form-row">
            <div class="col-md-12 text-left mt-5">
                <div class="d-flex justify-content-between px-3">
                    <button type="button" class="btn w-25 btn-dark btn-v2 btn-back"><i class="fas fa-angle-double-left"></i> Back</button>
                    <button type="button" class="btn w-25 btn-success btn-v2">COMPLETE</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<script src="@Fingerprint.Tag("/AdminLte/Scripts/OrderBookings/Summary.js")"></script>
