
@{
    ViewBag.Title = "InvoiceGenerationLogistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div id="gridShow" class="card d-none">

    <div class="card-header" style="border-bottom: 1px solid #3A3B45;background: #3A3B45;color: white;">
        <div class="row">
            <div class="col-sm-6 float-sm-left">
                <button type="submit" id="btnADD" class="btn btn-outline-light">Add Generate Report</button>
            </div><!-- /.col -->

        </div>
    </div>

   
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table id="ReportGride" class="table table-bordered" style="width: 100%;">
                    <thead class="_changeHeaderColor datatable-head">
                        <tr>

                            <th scope="col">InvoiceNo.</th>
                            <th scope="col">OrderNo</th>
                            <th scope="col">TripNo</th>
                            <th scope="col">InvoiceDate</th>
                            <th scope="col">InvoiceFromDate</th>
                            <th scope="col">InvoiceToDate</th>
                            <th scope="col">IsActive</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div id="lloForm" class="card card-default collapse">
    <div class="card-header" style="border-bottom: 1px solid #3A3B45;background: #3A3B45;color: white;text-align: center;">
        <h6 class="m-0 font-weight-bold centerHead"> Generate Invoice</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>OrderNo</label>
                    <select name="_txtOrderNo" id="_txtOrderNo" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>TripNo</label>
                    <select name="_txtTripNo" id="_txtTripNo" class="form-control" disabled></select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Invoice Number</label>
                    <input type="text" id="_txtInvoiceNo" name="_txtInvoiceNo" class="form-control" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Order Date</label>
                    <input type="text" id="_txtOrderDate" name="_txtOrderDate" class="form-control" disabled>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Container No 1</label>
                    <input type="text" id="_txtContainerNo1" name="_txtContainerNo1" class="form-control" disabled>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Container No 2</label>
                    <input type="text" id="_txtContainerNo2" name="_txtContainerNo2" class="form-control" disabled>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Employee Name</label>
                    <input type="text" id="_txtEmployee" name="_txtEmployee" class="form-control" disabled>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Vechicle Number</label>
                    <input type="text" id="_txtVechilceNumber" name="_txtVechilceNumber" class="form-control" disabled>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>CustomerName</label>
                    <input type="text" id="_txtCustomerName" name="_txtCustomerName" class="form-control" disabled>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>From Location</label>
                    <input type="text" id="_txtFromLocation" name="_txtFromLocation" class="form-control" disabled>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>To Location</label>
                    <input type="text" id="_txtToLocation" name="_txtToLocation" class="form-control" disabled>
                </div>
            </div>

        </div>

    </div>
    <div class="card-footer">
        <button type="submit" id="_btnGenerateInvoice" class="btn btn-success">Generate Invoice</button>
        <button type="button" id="btnBack" class="btn btn-dark">Back</button>
    </div>
</div>



<script src="~/AdminLte/Scripts/Invoice-create-logistic.js"></script>