@model BA_ERPMVC.ViewModels.OrderBooking.BookingViewModel
@{
    ViewBag.Title = "BLOrCROReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BL/CROReport</h2>

<br />
<div class="d-block py-2">
    <div class="form-row">
        <div class="col-md-6">
            <div class="input-group">
                <label for="ddlState">Custome Name</label>
                <select class="form-control txtCustomerName" name="Customer_Name[]" id="txtCustomerName" style="width: 100%;">
                    <option selected="selected"></option>
                </select>

            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <label for="ddlState">OrderType</label>
                <select class="form-control select2" aria-invalid="false" style="width: 100%;" id="txt_OrderType" onchange="onChange_OrderType(this)" required>
                    <option value="" data-select2-id="2"> Select OrderType</option>
                    <option value="Import">Import</option>
                    <option value="Export">Export</option>
                </select>
            </div>
        </div>


        <div class="col-md-6" style="display:none;">
            <div class="input-group">
                <label for="ddlState">BL</label>
                <select class="form-control txtBlNo" name="BL[]" multiple="multiple" id="txtBlNo" style="width: 100%;">
                    <option selected="selected"></option>
                </select>

            </div>
        </div>


        <div class="col-md-6" style="display:none;">
            <div class="input-group">
                <label for="ddlState">CRO</label>
                <select class="form-control txtCRONo" name="CRO[]" multiple="multiple" id="txtCRONo" style="width: 100%;">
                    <option selected="selected"></option>
                </select>

            </div>
        </div>



        <div class="col-md-6">
            <div class="input-group">
                <label for="ddlState">Type</label>
                <select class="form-control select2" aria-invalid="false" style="width: 100%;">
                    <option value="" data-select2-id="2"> Select Type</option>
                    <option value="ContainerWise">Container Wise</option>
                    <option value="BlWise">BL Wise</option>
                </select>

            </div>
        </div>
        <div class="col-md-12 text-left mt-5">
            <button type="submit" id="btn_view" class="btn w-25 btn-success btn-v2 btn-view">VIEW <i class="fas fa-angle-double-right"></i></button>
        </div>


    </div>



        <script src="~/AdminLte/Scripts/OrderBookings/BLCROReport.js"></script>


    </div>
