<style>

    /*li {
        margin: 8px 0;
    }*/
</style>
<ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-flat col-md-offset-3" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

    <li class="nav-item">
        <a href="@Url.Action("Dashboard","Home")" class="nav-link active">
            <!--
            <i class="nav-icon fas fa-tachometer-alt"></i>
                -->
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Dashboard

            </p>
        </a>

    </li>


    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-ship"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    OCEANIC LINES LLC

                </p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/BLShippingLine/Index" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            BL Listing
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/DropDownMenu/BLShippingContainer" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Inventory Container</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/BLShippingLine/BLApproval" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>BLApproval</p>
                    </a>

                </li>
            </ul>

            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/BVMS/VehicleRegistration" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>VehicleRegistration</p>
                        </a>

                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/HumanResourceManagment/EmployeeDetails" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>EmployeeDetails</p>
                        </a>

                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/DropDownMenu/Expenses" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Expenses</p>
                        </a>

                    </li>
                </ul>*@
            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Vendor/Index" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Vendor</p>
                        </a>

                    </li>
                </ul>*@



            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Country/Index" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Country</p>
                        </a>

                    </li>
                </ul>*@

            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/DropDownMenu/ShippingAgent" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Shipping Agent</p>
                        </a>

                    </li>
                </ul>*@

            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/DropDownMenu/ShippingLine" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Shipping Line</p>
                        </a>

                    </li>
                </ul>*@

            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/DropDownMenu/EmptyDropOffLoc" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>EmptyDropOff Location</p>
                        </a>

                    </li>
                </ul>*@



            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Department/Index" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Department</p>
                        </a>

                    </li>
                </ul>*@

            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/City/Index" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>City</p>
                        </a>

                    </li>
                </ul>*@



            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/BusinessDivision/Index" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>BusinessDivision</p>
                        </a>

                    </li>
                </ul>*@

            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Designation/Index" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Designation</p>
                        </a>

                    </li>
                </ul>*@
            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/DropDownMenu/Facility" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Facility</p>
                        </a>

                    </li>
                </ul>*@
            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/DropDownMenu/Location" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Location</p>
                        </a>

                    </li>
                </ul>*@
            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Setup/Oil" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>Oil</p>
                        </a>

                    </li>
                </ul>*@

            @*<ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Setup/OilInvoiceDetail" class="nav-link">
                            <i class="fas fa-car nav-icon"></i>
                            <p>OilInvoiceDetail</p>
                        </a>

                    </li>
                </ul>*@



        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    Setup

                </p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/BVMS/VehicleRegistration" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>VehicleRegistration</p>
                    </a>

                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/HumanResourceManagment/EmployeeDetails" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>EmployeeDetails</p>
                    </a>

                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/DropDownMenu/Expenses" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Expenses</p>
                    </a>

                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Vendor/Index" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Vendor</p>
                    </a>

                </li>
            </ul>



            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Country/Index" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Country</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/DropDownMenu/ShippingAgent" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Shipping Agent</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/DropDownMenu/ShippingLine" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Shipping Line</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/DropDownMenu/EmptyDropOffLoc" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>EmptyDropOff Location</p>
                    </a>

                </li>
            </ul>



            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Department/Index" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Department</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/City/Index" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>City</p>
                    </a>

                </li>
            </ul>



            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/BusinessDivision/Index" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>BusinessDivision</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Designation/Index" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Designation</p>
                    </a>

                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/DropDownMenu/Facility" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Facility</p>
                    </a>

                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/DropDownMenu/Location" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Location</p>
                    </a>

                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Setup/Oil" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>Oil</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Setup/OilInvoiceDetail" class="nav-link">
                        <i class="fas fa-car nav-icon"></i>
                        <p>OilInvoiceDetail</p>
                    </a>

                </li>
            </ul>



        </li>
        @*<li class="nav-item">
                <a href="/sales/OrderBooking" class="nav-link ">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                        Create Order
                    </p>
                </a>
            </li>*@
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    IMPORT

                </p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderBooking/Index" class="nav-link ">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            Create Order
                        </p>
                    </a>
                </li>
            </ul>
            
       
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderBooking/OrderList" class="nav-link ">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            OrderListing
                        </p>
                    </a>
                </li>
            </ul>



            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/TrainReport" class="nav-link ">
                        <i class="nav-icon fas fa-train"></i>
                        <p>
                            Train Order Report
                        </p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ImportOrderReportTruck" class="nav-link ">
                        <i class="fas fa-truck nav-icon"></i>
                        <p>
                            Booking Truck Report
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ImportOrderReport" class="nav-link ">
                        <i class="fas fa-train nav-icon"></i>
                        <p>
                            Booking Train Report
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/PreDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Pre Dispatched
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/Dispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DispatchedTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Truck)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/InTransactTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            InTransact (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ReDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Re-Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Truck)
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/EmptyDropOff" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Empty DropOff
                        </p>
                    </a>
                </li>
            </ul>



        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    EXPORT

                </p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderBooking/ExportOrder" class="nav-link ">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            Create Order
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderBooking/ExportOrderList" class="nav-link ">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>
                            OrderListing
                        </p>
                    </a>
                </li>
            </ul>



            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportPreDispatched" class="nav-link ">
                        <i class="nav-icon fas fa-train"></i>
                        <p>
                            PreDispatched
                        </p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportDispatchedTrain" class="nav-link ">
                        <i class="fas fa-truck nav-icon"></i>
                        <p>
                            Dispatched Train
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportDispatchedTruck" class="nav-link ">
                        <i class="fas fa-train nav-icon"></i>
                        <p>
                            Dispatched Truck
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/PreDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Pre Dispatched
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/Dispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DispatchedTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Truck)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportReDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            ReDispatched
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportDelivery" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery
                        </p>
                    </a>
                </li>
            </ul>

        </li>

        @*<li class="nav-item">
                <a href="/OrderBooking/Index" class="nav-link ">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                        Create Import Order
                    </p>
                </a>
            </li>*@
        @*<li class="nav-item">
                <a href="/OrderBooking/ExportOrder" class="nav-link ">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                        Create Export Order
                    </p>
                </a>
            </li>*@

        @*<li class="nav-item">
                <a href="/OrderBooking/OrderList" class="nav-link ">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                        Import OrderListing
                    </p>
                </a>
            </li>*@
        @*<li class="nav-item">
                <a href="/OrderBooking/ExportOrderList" class="nav-link ">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                        Export OrderListing
                    </p>
                </a>
            </li>*@

        @*<li class="nav-item">
                <a href="/OrderExecution/TrainReport" class="nav-link ">
                    <i class="nav-icon fas fa-train"></i>
                    <p>
                        Train Order Report
                    </p>
                </a>
            </li>*@

        @*<li class="nav-item has-treeview">
                <a href="#" class="nav-link ">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                        <i class="fas fa-angle-left right"></i>
                        Import Order Reports

                    </p>
                </a>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/OrderExecution/ImportOrderReportTruck" class="nav-link ">
                            <i class="fas fa-truck nav-icon"></i>
                            <p>
                                Truck Report
                            </p>
                        </a>
                    </li>
                </ul>

                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/OrderExecution/ImportOrderReport" class="nav-link ">
                            <i class="fas fa-train nav-icon"></i>
                            <p>
                                Train Report
                            </p>
                        </a>
                    </li>
                </ul>


            </li>*@


        <!--<li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    Import Order Execution

                </p>
            </a>-->
        @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ReadyForDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Ready For Dispatched
                        </p>
                    </a>
                </li>
            </ul>*@

        <!--<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/PreDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Pre Dispatched
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/Dispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DispatchedTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Truck)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/InTransactTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            InTransact (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ReDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Re-Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Truck)
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/EmptyDropOff" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Empty DropOff
                        </p>
                    </a>
                </li>
            </ul>

        </li>-->
        <!--<li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    Export Order Execution

                </p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportPreDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Pre Dispatched
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportDispatchedTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched Train
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportDispatchedTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched Truck
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportReDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            ReDispatched
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ExportDelivery" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery
                        </p>
                    </a>
                </li>
            </ul>-->
        @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ReDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Re-Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>*@
        @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Train)
                        </p>
                    </a>
                </li>
            </ul>*@
        @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Truck)
                        </p>
                    </a>
                </li>
            </ul>*@

        @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/EmptyDropOff" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Empty DropOff
                        </p>
                    </a>
                </li>
            </ul>*@

        <!--</li>-->
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    Customer
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Customer/CustomerRegistration" class="nav-link">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>Customer Registration</p>
                    </a>

                </li>

            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/CustomerPrice/index" class="nav-link">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>Pricing</p>
                    </a>

                </li>

            </ul>

        </li>




        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    Operations
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/sales/LocalLogisticOperation" class="nav-link">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>Logistic Operations</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/sales/TripDetails" class="nav-link">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>Trip Detail</p>
                    </a>

                </li>

                <li class="nav-item">
                    <a href="/sales/UpCommingTrips" class="nav-link">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>UpComingTrips</p>
                    </a>

                </li>
            </ul>

        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    TripSheet Summary
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            @*<ul class="nav nav-treeview">
                    <li class="nav-item">

                        <a href="/Invoices/InvoiceGenerationLogistic" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Generate Report Logistics</p>
                        </a>

                    </li>
                </ul>*@

            <ul class="nav nav-treeview">
                <li class="nav-item">

                    <a href="/Invoices/PrintReportLogistics" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Print Report</p>
                    </a>

                </li>
            </ul>


        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    Invoice
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Invoices/InvoiceGeneration" class="nav-link">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>Generate Invoice</p>
                    </a>

                </li>

                <li class="nav-item">
                    <a href="/OrderBooking/BLOrCROReport" class="nav-link">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>Print Order Invoice</p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/Invoices/LogisticInvoice" class="nav-link">
                        <i class="fas fa-gas-pump nav-icon"></i>
                        <p>Print Invoice</p>
                    </a>

                </li>

                <li class="nav-item">
                    <a href="/Invoices/LogisticInvoiceReport" class="nav-link">
                        <i class="fas fa-gas-pump nav-icon"></i>
                        <p>Print Invoice Report</p>
                    </a>

                </li>

            </ul>

        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    User Management
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">

                    <a href="/Account/Register" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>User Registration</p>
                    </a>

                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">

                    <a href="/Role/CreateRole" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Role</p>
                    </a>

                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Account/Menu" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Menu</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Account/Permission" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Permission</p>
                    </a>
                </li>
            </ul>
        </li>


        }
        else if (ViewContext.HttpContext.User.IsInRole("BLINCHARGE"))
        {
        <li class="nav-item">
            <a href="/BLShippingLine/Index" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    BL Shipping Line
                </p>
            </a>
        </li>

        }
        else if (ViewContext.HttpContext.User.IsInRole("Lahore"))
        {
        <li class="nav-item">
            <a href="/OrderBooking/OrderList" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    OrderListing
                </p>
            </a>
        </li>
        }

        else if (ViewContext.HttpContext.User.IsInRole("Operation"))
        {
        <li class="nav-item">
            <a href="/OrderBooking/OrderList" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    OrderListing
                </p>
            </a>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    Order Execution

                </p>
            </a>



            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/PreDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Pre Dispatched
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/Dispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DispatchedTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Dispatched (Truck)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/InTransactTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            InTransact (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ReDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Re-Dispatched (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTrain" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Train)
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/DeliveryTruck" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Delivery (Truck)
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/EmptyDropOff" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Empty DropOff
                        </p>
                    </a>
                </li>
            </ul>

        </li>
        }

        else if (ViewContext.HttpContext.User.IsInRole("Sales"))
        {

        <li class="nav-item">
            <a href="/OrderBooking/Index" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    Create New Order
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/OrderBooking/OrderList" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    OrderListing
                </p>
            </a>
        </li>

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    <i class="fas fa-angle-left right"></i>
                    Order Execution

                </p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/OrderExecution/ReadyForDispatched" class="nav-link ">
                        <i class="fas fa-car nav-icon"></i>
                        <p>
                            Ready For Dispatched
                        </p>
                    </a>
                </li>
            </ul>
        </li>
        }

    </ul>

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

